body{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0; 
}

h1{
    text-align: center;
}

.container{
    display: grid;
    background: rgb(0,210,255);
    background: radial-gradient(circle, rgba(0,210,255,1) 0%, rgba(58,71,213,1) 100%);
    border-radius: 10px;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

.item .1{

}
