{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Task</h1>
    <div class="container">
        <div class="item 1">
            <h2>{{my_name}}</21>
            <div class="value">{{marks}}</div>
        </div>
        <div class="item 2">
            <h2>Anthony</h2>
            <div class="value">
                80
            </div>
        </div>
        <div class="item 3">
            <h2>Luther</h2>
            <div class="value">
                65
            </div>
        </div>
        <div class="item 4"></div>
    </div>



    
</body>
</html>